<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAssured Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
      <!--  <listener class-name="listners.AllureTestListener"></listener>
        <listener class-name="listners.RetryListners"></listener>-->
    </listeners>
    <test name="API Tests">
        
        <classes>
            <class name="TestClasses.BookingManagerTest"/>
            <!-- Add other test classes here -->
        </classes>
    </test>
</suite>